*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body{
    --cl-text--: #d7d4d4;
    --cl-bg--: #181717;
    --cl-bg-secondary--: #1d1c1c;
    --text-font--: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*-----------nav bar styles--------*/

.nav-bar{
    display: flex;
    position: sticky;
    padding: 10px 10px;
    width: 100%;
    height: 60px;
    top: -0px;
    background-color: var(--cl-bg--);
    container-type: inline-size;
    container-name: nav-bar;
}

.container-nav{
    display: flex;
    width: 90%;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 1px solid #007bff;
    margin: auto;
}

.nav{
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-link {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: #007bff;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

/*---------nav-bar end-----------*/


/*------Container Nav-Bar-------*/


@container nav-bar (min-width: 600px) {
    .container-nav {
        width: 60%;
        display: flex;
        justify-content: center;
    }
}

/*------Container Nav-Bar End-------*/

/*--------------Main Content Styles-----------*/

.main {
    height: 60vh;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--cl-text--);
    background-color: var(--cl-bg-secondary--);
    container-type: inline-size;
    container-name: main;
}

.container-main {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin: auto;
    font-style: italic;
    align-items: center;
    justify-content: center;
    font-family: var(--text-font--);
    text-align: center;
}

..container-main h1 {
    width: auto;
    font-size: 2.2rem;
}

..container-main h2 {
    width: auto;
    font-size: 2.2rem;
}

.list-icons {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

.list-icons a{
    width: 30px;
    font-size: 30px;
}

.list-icons svg {
    width: 21px;
    height: 21px;
}

/*----------end main----------------*/

/*---------container main---------*/

@container main (min-width: 700px) {
    .container-main {
        background-color: #007bff;
        width: 62.2%;
        height: 100%;
        padding: 50px;
    }
}

/*---------container main end---------*/

/*--------Section Styles-------------*/


.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: var(--cl-bg--);
    color: var(--cl-text--);
    height: 230px;
    container-type: inline-size;
    container-name: section;
}

.container-about {
    width: 90%;
    border: 1px solid #007bff;
    margin: auto;
    text-align: center;
}

.section h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #007bff;
}

/*--------Section Styles End-------------*/
/*-------container about--------*/

@container section (min-width: 600px) {
    .container-about {
        width: 61%;
    }
}

/* Projects Section Styles */

.section-projects h3 {
    font-size: 1.5rem;
    margin-bottom: 40px;

}

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 35px;
    background-color: var(--cl-bg-secondary--);
    color: var(--cl-text--);
}

.container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    margin: auto;
    text-align: center;
}

.project-previws {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 450px;
    border: 1px solid #007bff;
}

.project-img {
    width: 100%;
    height: 65%;
}

.project-img img {
    width: 100%;
    height: 100%;
    object-fit:fill;
}

.project-description {
    width: 100%;
    height: 35%;
    padding: 10px;
    background-color: var(--cl-bg--);
    color: var(--cl-text--);
}