*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body{
    background-color: #121212;
    --cl-text--: #d7d4d4;
    --cl-bg--: #181717;
    --cl-bg-secondary--: #1d1c1c;
    --cl-text-secondary--: #4070a2;
    --text-font--: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*-----------nav bar styles--------*/

.nav-bar{
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    width: 100%;
    height: 60px;
    top: -0px;
    background-color: #2b2a2aee;
    container-type: inline-size;
    container-name: nav-bar;
}

.container-nav{
    display: flex;
    width: 100%;
    height: 100%;
}

.logo {
    display: flex;
    direction: ltr;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: clamp(0.8rem, 2vw, 1rem);
    color: #b6ded6d8;
}

.logo p{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.nav{
    display: flex;
    direction: rtl;
    width: 70%;
    height: 100%;
    font-size: clamp(0.8rem, 2vw, 1rem);
    justify-content: center;
    align-items: center;
}

.nav-link {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: var(--cl-text-secondary--);
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

/*---------nav-bar end-----------*/


/*------Container Nav-Bar-------*/


@container nav-bar (min-width: 600px) {
    .nav {
        font-size: 1.3rem;
        gap: 1rem;
    }

    .container-nav {
        width: 60%;
        display: flex;
        justify-content: center;
    }
}

/*------Container Nav-Bar End-------*/

/*--------------Main Content Styles-----------*/

.main {
    height: 80vh;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--cl-text--o);
    background-color: var(--cl-bg--);
    container-type: inline-size;
    container-name: main;
}

.container-main {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin: auto;
    font-style: italic;
    align-items: center;
    justify-content: center;
    font-family: var(--text-font--);
    text-align: center;
}

.profile{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--cl-text-secondary--);
}

.profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-main h1 {
    color: var(--cl-text--);
    width: auto;
    font-size: 2.2rem;
}

.container-main h2 {
    width: auto;
    color: var(--cl-text-secondary--);
    font-size: 2.2rem;
}

.list-icons {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

.list-icons a{
    width: 30px;
    font-size: 30px;
}

.list-icons svg {
    width: 21px;
    height: 21px;
}

/*----------end main----------------*/

/*---------container main---------*/

@container main (min-width: 700px) {
    .container-main {
        width: 62.2%;
        height: 100%;
        padding: 50px;
    }
}

/*---------container main end---------*/

/*--------Section Styles-------------*/


.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: var(--cl-bg-secondary--);
    color: var(--cl-text--);
    container-type: inline-size;
    container-name: section;
}

.container-about {
    width: 90%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.section h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #007bff;
}

/*--------Section Styles End-------------*/
/*-------container about--------*/

@container section (min-width: 600px) {
    .container-about {
        width: 61%;
    }
}

/*-------container about end--------*/

/*-------Skills section--------*/

.section-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 35px;
    background-color: var(--cl-bg-secondary--);
    container-type: inline-size;
    container-name: section-skills;
}

.container-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 110%;
    height: 90%;
    text-align: center;
}

.section-skills h3 {
    color: #007bff;
    font-size: 1.8rem;
    margin-bottom: 40px;

}

.skills-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skills-list {
    width: 48%;
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 7px #000;
}

.skills-content p{
    font-size: 1.2rem;
    font-weight: bold;
    color: #6a6a6a;
    margin: 0;
}

/*--------Skills section end--------*/

/*-------container skills--------*/

@container section-skills (min-width: 600px) {
    .container-skills {
        width: 80%;
        height: 100%;
    }

    .skills-content {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 90%;
        height: auto;
        justify-content: center;
    }

    .skills-list {
        width: 40%;
        height: 140px;
        padding: 10px;
        text-align: center;
    }
}

/* Projects Section Styles */


.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 35px;
    background-color: var(--cl-bg-secondary--);
    color: var(--cl-text--);
    container-type: inline-size;
    container-name: section-projects;
}

.container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 90%;
    margin: auto;
    text-align: center;
}

.section-projects h3 {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 70px;

}

.project-previws {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 450px;
    margin-bottom: 60px ;
    border-radius: 20px;
}

.linaer{
    display: none;
    width: 100%;
    height: 2px;
    background-color: #151515;
    margin-bottom: 20px;
}


.project-img {
    box-shadow: 0px 1px 3px #000;
    object-position: top;
    width: 100%;
    height: 65%;
}

.project-previws img{
    width: 100%;
    height: 100%;
    object-fit:fill;
}


.project-description {
    width: 100%;
    text-align: left;
    height: auto;
    padding: 10px 10px;
    box-shadow: 0px 1px 3px #000;
    color: var(--cl-text--);
}

.project-description h4 {
    text-align: left;
    text-decoration: underline;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 25px;
}

.project-description p {
    font-size: 0.9rem;
    color: #bbb6b6;
    margin: 0;
    width: 100%;
}

.project-links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.project-links a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background-color: #302f2f64;
    box-shadow:0px 0px 3px #000;
    padding: 2px 0px;
    width: 120px;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    border-radius: 8px;
    margin-right: 10px;
}

.project-links a:hover{
    background-color: #25252564;
}

.project-links p{
    width: 50px;
}



.languages {
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;  
    align-items: center;
    text-align: left;
    font-size: 2rem;
    margin-top: 20px;
}

.languages svg {
    width: 30px;
    height: 30px;
    color: #bbb6b6;
    margin: 0;
}


/*-------projects section end--------*/

/*-------container projects--------*/

@container section-projects (min-width: 600px) {

    .section-projects h3 {
    font-size: 2rem;
    }
    
    .container-projects {
        width: 80%;
        height: 100%;
    }
    .project-previws {
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 350px;
    }

    .project-img {
        width: 50%;
        height: 84%;
    }

    .project-img img {
        width: 100%;
        height: 100%;
        object-fit:cover;
        object-position: top;
    }

    .project-description {
    width: 70%;
    text-align: left;
    box-shadow: none;
    height: auto;
    margin-left: 35px;
    padding: 10px 10px;
    color: var(--cl-text--);
    }

.project-description h4 {
    text-align: left;
    text-decoration: underline;
    font-size: 1.7rem;
    margin-top: 10px;
    margin-bottom: 25px;
}
    .project-description p {
        font-size: 1rem;
        width: 320px;
    }

    .bg--flex{
        display: flex;
        flex-direction:  row-reverse;
    }

    .pt-img{
        border-top-left-radius: 0px;
        border-top-right-radius: 20px;
    }

    .linaer{
        display: flex;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .pt-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.project-links{
    display: flex;
    justify-content:left;
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.project-links a {
    display: flex;
    text-decoration: none;
    background-color: #302f2f64;
    box-shadow:0px 0px 3px #000;
    border: 1px solid #007bff;
    margin-left: 0px;
    width: 120px;
    height: 30px;
    text-align: center;
    border-radius: 8px;
}

.project-links a:hover{
    background-color: #25252564;
}

.project-links p{
    width: 60px;
}
}

/*-------container projects end--------*/